# Google Gemini API Keys (Provide 4-5 keys separated by commas to avoid rate limits)
GOOGLE_API_KEYS="AIzaSyAm4o6PJCst4sI1Q0bG_QB-YfSPS6jIPts,AIzaSyBK1IgQIyhc6JDUNZlavzLMBZfEVV_9gyo,AIzaSyDCp0Gqb29_S1c3y9N2GQFs28G4lJnewtc,AIzaSyBwhiLlGvzTBnXLLzTyi32jyQDe4nd6elA,AIzaSyBR_GwoeE3-6zQCs4eQDxfhaTzyIR-jdBQ"
DATABASE_URL="postgresql://neondb_owner:npg_qQOVs6YPKI0W@ep-round-water-ai2tvhqr.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"